 * { margin: 0; padding: 0; box-sizing: border-box; }
 
 body { font: 13px Helvetica, Arial; }
 form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
 .overlay {
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    background-color: rgb(0,20,40);
    overflow-x: hidden; /* Disable horizontal scroll */
 }
 /* God I suck at CSS, how difficult is it to position an input field
 and a goddamn span in the middle of the page. IS this why people put everythng
 in separate div containers? */
 .overlay input { margin: 20%; }
 .overlay span { 
	padding-left: 1em;
 	font-family: "Open Sans";
 	color: white;
 	font-size: 3em;
 }
 #messageInput { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
 #messageInput input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
 #messages { list-style-type: none; margin: 0; padding: 0; }
 #messages li { padding: 5px 10px; }
 #messages li:nth-child(odd) { background: grey; }
 #messages li.self {color:white; background: purple;}
.common-1{
	color: rgba(0,0,0,.9);
}
.common-2{
	color: rgba(0,0,0,.8);
}
.common-3{
	color: rgba(0,0,0,.7);
}
.common-4{
	color: rgba(0,0,0,.6);
}
.common-5{
	color: rgba(0,0,0,.5);
}
.common-6{
	color: rgba(0,0,0,.4);
}
.common-7{
	color: rgba(0,0,0,.3);
}
.common-8{
	color: rgba(0,0,0,.2);
}
.common-9{
	color: rgba(0,0,0,.1);
}
.common-10{
	color: rgba(0,0,0,.0);
}